.card {
  perspective: 1000px; 
}

.card_content {
  width: 380px;
  height: 360px;
  background-color: var(--card-project);
  padding: 25px 30px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  border-radius: 15px;
  margin: 10px;
  transition: transform 0.1s; /* Añadir una transición suave */
}

.card_img_container {
  width: 311px;
  height: 200px;
  border-radius: 15px;
  position: relative;
}

.card_img {
  padding: 1px;
  overflow: hidden;
  border-radius: 15px;
  width: 100%;
  height: 200px;
  background: radial-gradient(circle 230px at 0% 0%, #ffffff, #0c0d0d);
}

.card_img img {
  border-radius: 5px;
}

.card-inner {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.999s;
}

@media (min-width: 480px) {
  .card:hover .card-inner {
    transform: rotateY(180deg);
  }
}

.card_rotate .card-inner {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.card-front {
  background-color: #6A2C70;
  color: #fff;
  display: flex;
  align-items: center;
  border: 10px solid #6A2C70;
  border-radius: 15px;
  justify-content: center;
  font-size: 24px;
  transform: rotateY(0deg);
}

.card-back {
  background-color: #2C3E50;
  color: #fff;
  display: flex;
  align-items: center;
  border: 10px solid #6A2C70;
  border-radius: 10px;
  justify-content: center;
  font-size: 24px;
  transform: rotateY(180deg);
  padding: 15px;
  overflow: auto;
}

.card-back p {
  font-size: 14px;
  margin: 0;
  word-wrap: break-word;
}

.dot {
  width: 8px;
  aspect-ratio: 1;
  position: absolute;
  background-color: #fff;
  box-shadow: 0 0 20px #ffffff;
  border-radius: 50%;
  z-index: 2;
  right: 0%;
  top: 0%;
  animation: moveDot 6s linear infinite;
}

.card:hover .dot {
  animation: moveDotReverse 6s linear infinite;
}

.card_rotate .dot {
  animation: moveDotReverse 6s linear infinite;
}

@keyframes moveDot {
  0%,
  100% {
    top: 0%;
    right: 0.5%;
  }
  25% {
    top: 0%;
    right: 97.5%;
  }
  50% {
    top: 95.6%;
    right: 97.5%;
  }
  75% {
    top: 95.6%;
    right: 0.5%;
  }
}

@keyframes moveDotReverse {
  0%,
  100% {
    top: 95.6%;
    right: 97.5%;
  }
  25% {
    top: 95.6%;
    right: 0.5%;
  }
  50% {
    top: 0%;
    right: 0.5%;
  }
  75% {
    top: 0%;
    right: 97.5%;
  }
}


.card_btn {
  display: flex;
  gap: 20px;
  justify-content: center;
  border-radius: 50px;
}

.card_btn  button {
  width: 90px;
  border-radius: 50px;
  cursor: pointer;
}

