.home {
  display: flex;
  justify-content: center;
}

.home-container {
  /* border: 2px solid; */
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1280px;
  margin-top: 20px;
  padding: 10px;
}

/* .home-info,
.home-img {
  border: 2px solid;
} */

.home-info {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.home-info h2 {
  font-size: 40px;
}

.home-info p {
  max-width: 650px;
  color: rgb(225, 220, 220);
}

.home-cart {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.home-cart div  {
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.cart-cild {
  border: 2px dotted white;
}

.cart-cild p {
  font-size: 20px;
}
.home-img {
  max-width: 300px;
  position: relative;
}

.cart-img {
  max-width: 200px;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-cart .cart-icon {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 20px;
}

.icon-tecn {
  font-size: 50px;
  transition: transform 0.3s ease, color 0.3s ease;
}

.icon-tecn:hover {
  transform: scale(1.1);
}

.react-icon {
  color: #61DAFB;
}

.js-icon {
  color: #F7DF1E;
}

.node-icon {
  color: #339933;
}

.icon-container {
  font-size: 50px;
  transition: transform 0.3s ease, color 0.3s ease;
  width: 70px;
  height: 70px;
  border-radius: 10px;
  background-color: white;
  position: absolute;
  animation: verticalMovement 7s infinite;
}

.css-icon {
  color: #2965f1;
  top: 0;
  left: 0;
  animation-direction: alternate;
}

.html-icon {
  color: #e34c26;
  bottom: 100px;
  right: 0;
  animation-direction: alternate-reverse;
}

@keyframes verticalMovement {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(60px);
  }
}

.tecnology {
  font-family: "Poppins", sans-serif;
}
/* design movil */

@media (max-width: 768px) {
  .home-container {
    justify-content: center;
    gap: 10px;
  }
  
  .home-info {
    align-items: center;
    order: 1;
  }

  .home-info h2 {
    font-size: 35px;
  }
}