@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Orbitron:wght@400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --span: red;
  --back-container: #1D1C22;
  --back-icon: #3e3c48;
  --card-project: #2b2b32;
}

*,
*::before,
*::after  {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Orbitron", sans-serif;
}

body {
 /* background-image: linear-gradient(rgba(22, 22, 22, 0.9), rgba(22, 22, 22, 0.9)), url('/assets/slidesdocs.jpg'); */
 background-image: url('/assets/bg.png') ;
 background-size: cover;
 color: beige;
}

.prueba { 
  width: 100%;
  height: 100vh;
  position: fixed;
}

img {
  max-width: 100%;
  display: inline-block;
  max-height: 100%;
  object-fit: contain;
}

ul {
  list-style: none;
}

a {
  color: #6c757d;
  text-decoration: none;
}

input, button {
  display: inline-block;
  cursor: pointer;
  font-family: inherit;
  text-align: center;
}

span {
  color: var(--span);
}

button {
  background-color: #cd2b2e;
  color: white;
  padding: 10px 20px;
  border: 2px solid #cd2b2e;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #535252;
  border: 2px solid #cd2b2e;
}
